table,
tr {
    border: 1px solid black;
}

td {
    width: 50px;
    height: 50px;
}

button {
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.direita {
    float: left
}

@media (min-width: 900px) {
    #historico {
        width: 30%;
    }
    #conteudo {
        margin-left: 37%;
    }
}