textarea {
    background-color: var (--white) !important;
    color: var (--black) !important;
}

#numeroExtenso {
    pointer-events: none;
}

#numeroExtenso:hover {
    background-color: var (--white) !important;
    color: var (--black) !important;
    transition: none;
}