.card {
    border: 0px;
    border-radius: 40px;
}

.card .card-img-top {
    text-align: center;
}

.card-img-top {
    display: block;
    width: 100%;
}

.card-title {
    font-size: 30px;
    text-align: center;
}

.card-text {
    font-size: 20px;
}