.dropbtn {
    background-color: rgb(40, 40, 40);
    color: rgb(240, 240, 240);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus,
.dropdown-content:hover~.dropbtn {
    background-color: rgb(240, 240, 240);
    color: rgb(40, 40, 40);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown-content:hover,
.dropbtn:hover~.dropdown-content {
    display: block;
    margin-top: 0px;
    opacity: 1;
}

.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px var(--black);
    z-index: 1;
}

.dropdown-content .dropdown-link {
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .dropdown-link:hover {
    color: var(--white);
    background-color: var(--black);
    font-weight: bold;
}