body,
html {
    margin: 0;
    padding: 0;
}

.navbar-dark {
    color: var(--white);
    background-color: rgb(40, 40, 40);
}

.navbar-brand {
    color: var(--white);
    font-size: 30px;
}

.navbar {
    width: 100%;
    height: 110px;
    margin: 0px;
    padding: 10px;
    text-align: left;
}

@media (min-width: 900px) {
    .navbar {
        height: 40px;
    }
}

.navbar-nav {
    float: left;
}

.nav-item {
    font-size: 25px;
    float: left;
    padding: 5px;
    margin: 5px;
    padding-top: 2px;
    margin-top: 2px;
}

.nav-item .link {
    color: var(--white);
    padding: 10px;
}