@media (min-width: 620px) {
    .row {
        column-count: 2;
        column-gap: 20px;
    }
    .col {
        break-inside: avoid;
    }
}

@media (min-width: 960px) {
    .row {
        column-count: 4;
    }
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.col {
    margin-bottom: 20px;
    overflow: hidden;
    height: 200px;
}