:root {
    --blue: #18a7e0;
    --green: #20d43e;
    --yellow: rgb(251, 255, 0);
    --orange: rgb(225, 190, 25);
    --red: rgb(235, 50, 50);
    --black: rgb(40, 40, 40);
    --white: rgb(230, 230, 230);
}

* {
    transition: all ease-in-out 0.3s;
}

.col {
    transition: border ease-in-out 0s;
}

.card {
    padding: 10px;
    border-radius: 25px;
}

.link {
    text-decoration: none;
}

.link:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
}

.shadow {
    box-shadow: inset 0px 0px 5px var(--black);
}

.shadow:hover {
    box-shadow: inset 0px 0px 10px var(--black);
}

.full-main {
    width: 100%;
    text-align: center;
    margin: 10px;
}

input[type="number"],
input[type="text"],
textarea {
    padding: 10px;
    width: 400px;
    border-radius: 15px;
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    border: 0px;
    outline: none;
    font-size: 15px;
}

input[type="number"],
input[type="text"]:focus,
textarea:focus,
select:focus {
    outline: none;
}

input[type="number"],
input[type="text"]:hover,
textarea:hover {
    background-color: var(--white);
    color: var(--black);
}

.center {
    text-align: center;
}

button {
    background-color: var(--black);
    color: var(--blue);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
}

button:hover {
    background-color: var(--blue);
    color: var(--black);
}

button:focus {
    outline: 0;
}

table {
    background-color: rgb(60, 60, 60);
    color: var(--white);
    border-radius: 10px;
}

td,
tr {
    margin: 5px;
}

textarea {
    resize: both;
    transition: backgroun-color ease-in-out 0.3s;
    transition: color ease-in-out 0.3s;
}